/* 右侧固定栏样式 */
#sidebar {
     /* margin-left: 50px; */
    width: 250px;
    /* 固定在右侧 */
    position: fixed;
    right: 10px;
    top: 150px;
    /* 样式调整 */
    height: 50%;
    z-index: 1000; /* 确保在其它内容上方 */
    text-align: center;
}

/* 新功能区域样式 */
.new-feature {
    padding: 50px 30px 15px 0;
    margin-bottom: 5px; /* 与下面的内容保持一点距离 */
    margin-right: 20px; /* 与侧边栏保持一点距离 */
    background-image: url('../icon/10.png'); /* 使用你的边框图片 */
    background-size: contain; /* 让背景图片覆盖整个区域 cover  contain */
    background-repeat: no-repeat; /* 不重复背景图片 */
    height: 300px; /* 举例，根据实际图片调整 */
}

/* 特定文字样式 */
.highlight-text {
    font-weight: bold;
    writing-mode: vertical-rl;  /* 设置文字为竖向排列，从右到左 */
    text-orientation: upright;  /* 保持字符直立 */
    display: inline-block;  /* 设置为内联块，便于对齐 */
    vertical-align: top;    /* 顶端对齐 */
    color: #008080;
    font-family: 'KaiTi', '楷体', serif; /* 设置字体为楷体，若无楷体则使用衬线体 */
    font-size: 1.2rem;
}

/* 图片样式 */
.sidebar-image {
    width: 250px;
    padding-right: 30px/* 右侧内边距 */;
    margin-bottom: 5px; /* 与下面的内容保持一点距离 */
    margin-right: 20px; /* 与侧边栏保持一点距离 */
}